/* ----------
GENERAL STYLES
------------- */
body {
	background-color: #D2D7DF;
	font-family: 'Roboto', sans-serif;
}
input[type=text] {
    width: 400px !important;
}

/* --------
ID's
--------- */ 
#selectordiv {
	margin-top: 60px;
	text-align: center;
	font-size: 24px;
	color: #fff;
}
#img-old-man {
	position: fixed;
	left: 5px;
	top: 7px;
	width: 40px;
	height: 40px;
}

/* --------
CLASSES
----------- */
.navbar-center
{
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 7px auto ;
}
.makeTextDark {
	background-color: #353535;
	color: white;
}
.makeTextBig {
	font-size: 36px;
}
.container {
	padding: 10px;
	box-shadow: 0px 5px 2px #8A897C;
}
.messages {
	background-color: #fff;
}

.subtext {
	font-size: .7em;
}

.hidden {
	display: none;
}

.delete-btn {
	padding: 0 10px;
}

.edit-btn {
	padding: 0 10px;
}